<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).size>0 ? yield(:title)+' - ':'' %>Wooyun公开漏洞查询平台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="content">
<%= yield %>
</div>
</body>
</html>
