<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).size>0 ? yield(:title)+' - ':'' %>Wooyun公开漏洞查询平台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="content">
<%= yield %>
  <p>本项目开源，主要用于对wooyun的数据进行过滤和排序，源代码地址：<a href="https://github.com/LubyRuffy/wyquery">https://github.com/LubyRuffy/wyquery</a> </p>
</div>
</body>
</html>
